body {
    background-image: url('../Pictures/back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#form1 {
    width: 700px;
    height: 500px;
    text-align: center;
    margin-top: 15%;
    display: inline-block;
    border: 3px solid black;
    background-color: rgba(41, 54, 88, 0.7);
}

.h1 {
    font-size: 3em;
    text-align: center;
    margin: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border: hidden;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 10px;
}

.inputs {
    width: 80%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 3%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #efefef;
    font-size: 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    .inputs:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

.submit {
    width: 40%;
    padding: 5%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid black;
    font-size: 15px;
    background-color: steelblue;
    color: #fff;
    margin-top: 25px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
