body {
    background-image: url('../Pictures/back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#form1 {
    width: 800px;
    height: 600px;
    text-align: center;
    margin-top: 12%;
    display: inline-block;
    border: 3px solid black;
    background-color: rgba(41, 54, 88, 0.7);
}


h1 {
    font-size: 3em;
    text-align: center;
    color: white;
}

.h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border: hidden;
}


.grid-container {
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px 5px;
    grid-template-areas: "labelA inputA errorA" "labelB inputB errorB" "labelC inputC errorC" "labelD inputD errorD" "labelE inputE errorE";
}

.labelA {
    grid-area: labelA;
}

.labelB {
    grid-area: labelB;
}

.labelC {
    grid-area: labelC;
}

.labelD {
    grid-area: labelD;
}

.labelE {
    grid-area: labelE;
}

.inputA {
    grid-area: inputA;
}

.inputB {
    grid-area: inputB;
}

.inputC {
    grid-area: inputC;
}

.inputD {
    grid-area: inputD;
}

.inputE {
    grid-area: inputE;
}

.errorA {
    grid-area: errorA;
}

.errorB {
    grid-area: errorB;
}

.errorC {
    grid-area: errorC;
}

.errorD {
    grid-area: errorD;
}

.errorE {
    grid-area: errorE;
}

.labels {
    margin-top: 30px;
    margin-left: 25px;
    float: left;
    color: white;
    padding: 3%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #efefef;
    font-size: 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.inputs {
    margin-top: 18px;
    width: 300px;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 5%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #efefef;
    font-size: 18px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    .inputs:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

.errors {
    margin-top: 25px;
    margin-right: 5px;
    float: left;
    color: white;
    padding: 1%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #efefef;
    font-size: 12px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.submit {
    width: 40%;
    padding: 5%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid black;
    font-size: 15px;
    background-color: steelblue;
    color: #fff;
    margin-top: 25px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
